<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thanhty.lenguyenthanhty_k224111477_k22411c"> <!-- Thêm package -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeNguyenThanhTy_K224111477_K22411C"
        tools:targetApi="31">
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeTaskActivity"
            android:exported="false" />
        <activity
            android:name=".CreateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".AdminTaskListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Đổi thành true vì có intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Không cần exported=true nếu không dùng intent-filter -->
    </application>
</manifest>